In [3]:
%load_ext sql
%sql sqlite:///hw4.db

In [4]:
%%sql
CREATE TABLE Restaurant (
    res_id CHAR(10) PRIMARY KEY,
    name VARCHAR(50),
    address_si VARCHAR(50),
    address_gu VARCHAR(50),
    address_dong VARCHAR(50),
    address_detail VARCHAR(50),
    phone CHAR(10)
);

CREATE TABLE DeliveryAble (
    able_add CHAR(10) PRIMARY KEY,
    res_id CHAR(10),
    address_si VARCHAR(50),
    address_gu VARCHAR(50),
    address_dong VARCHAR(50),
    FOREIGN KEY (res_id) REFERENCES Restaurant(res_id)
);

CREATE TABLE Menu (
    menu_id CHAR(10) PRIMARY KEY,
    res_id CHAR(10),
    detail VARCHAR(200),
    menu_name VARCHAR(50),
    photo VARCHAR(100),
    price INT,
    FOREIGN KEY (res_id) REFERENCES Restaurant(res_id)
);

CREATE TABLE Customer (
    cus_id CHAR(10) PRIMARY KEY,
    cus_name VARCHAR(50),
    address_si VARCHAR(50),
    address_gu VARCHAR(50),
    address_dong VARCHAR(50),
    address_detail VARCHAR(50)
);

CREATE TABLE OrderList (
    order_id CHAR(10) PRIMARY KEY,
    menu_id CHAR(10),
    rec_id CHAR(10),
    cus_id CHAR(10),
    FOREIGN KEY (menu_id) REFERENCES Menu(menu_id),
    FOREIGN KEY (rec_id) REFERENCES Receipt(rec_id),
    FOREIGN KEY (cus_id) REFERENCES Customer(cus_id)
);

CREATE TABLE Receipt (
    rec_id CHAR(10) PRIMARY KEY,
    cus_id CHAR(10),
    res_id CHAR(10),
    order_date DATE,
    amount INT,
    pay_info VARCHAR(20),
    dlv_id CHAR(10),
    FOREIGN KEY (cus_id) REFERENCES Customer(cus_id),
    FOREIGN KEY (res_id) REFERENCES Restaurant(res_id),
    FOREIGN KEY (dlv_id) REFERENCES DeliveryMan(dlv_id)
);

CREATE TABLE DeliveryMan (
    dlv_id CHAR(10) PRIMARY KEY,
    phone CHAR(12),
    dlv_name VARCHAR(20),
    vehicle VARCHAR(20),
    dlv_address_si VARCHAR(50)
);
%%sql
CREATE TABLE Review (
    review_id CHAR(10) PRIMARY KEY,
    rec_id CHAR(10), 
    author VARCHAR(100), 
    content VARCHAR(20000), 
    FOREIGN KEY (rec_id) REFERENCES Receipt(rec_id));
%%sql
INSERT INTO Restaurant (res_id, name, address_si, address_gu, address_dong, address_detail, phone) VALUES
('RES0000001', 'OwlCottage', 'Gwangju', 'Gwangsan', 'WeolGae', '881-1', '821074927694'),
('RES0000002', 'ZhangJiaJie', 'Gwangju', 'Gwangsan', 'SangAm', '655-5', '821083129384'),
('RES0000003', 'YeonWha', 'Gwangju', 'Gwangsan-Gu', 'SangAm', '662-2', '821003759174'),
('RES0000004', 'Mayo', 'Gwangju', 'Gwangsan-Gu', 'WeolGae', '882-1', '821048632348'),
('RES0000005', 'HyeonOk', 'Gwangju', 'Buk-gu', 'SangAm', '654-7', '82104207452'),
('RES0000006', 'NoeunKalGukSu', 'Daejeon', 'YuSeong', 'Jijok', '910-23', '821093856103'),
('RES0000007', 'Solemio', 'Daejeon', 'Seo', 'GweJeong', '423-4', '821098874529'),
('RES0000008', 'SungShimDang', 'Daejeon', 'Jung', 'EunHang', '145', '821034904857'),
('RES0000009', 'HareHare', 'Daejeon', 'Seo', 'DunSan', '1509', '821087633579'),
('RES0000010', 'Bespoke', 'Daejeon', 'Seo', 'ManNyeon', '295', '821034906542');
%%sql
INSERT INTO Receipt (rec_id, cus_id, res_id, order_date, amount, pay_info, dlv_id) VALUES
('REC0000001', 'CUS0000001', 'RES0000001', '2024-10-01', 25000, 'Credit Card', 'DLV0000001'),
('REC0000002', 'CUS0000002', 'RES0000002', '2024-10-02', 18000, 'Cash', 'DLV0000002'),
('REC0000003', 'CUS0000003', 'RES0000003', '2024-10-03', 22000, 'Mobile Payment', 'DLV0000003'),
('REC0000004', 'CUS0000004', 'RES0000004', '2024-10-04', 15000, 'Credit Card', 'DLV0000004'),
('REC0000005', 'CUS0000005', 'RES0000005', '2024-10-05', 27000, 'Cash', 'DLV0000005'),
('REC0000006', 'CUS0000001', 'RES0000006', '2024-10-06', 30000, 'Credit Card', 'DLV0000006'),
('REC0000007', 'CUS0000002', 'RES0000007', '2024-10-07', 12000, 'Mobile Payment', 'DLV0000007'),
('REC0000008', 'CUS0000003', 'RES0000008', '2024-10-08', 25000, 'Cash', 'DLV0000008'),
('REC0000009', 'CUS0000004', 'RES0000009', '2024-10-09', 22000, 'Credit Card', 'DLV0000009'),
('REC0000010', 'CUS0000005', 'RES0000010', '2024-10-10', 28000, 'Mobile Payment', 'DLV0000010');

import sqlite3

# SQLite 데이터베이스에 연결
conn = sqlite3.connect("hw3.db")
cursor = conn.cursor()

# 데이터 리스트 정의
menu_data = [
    ('M00001', 'RES0000001', 'Signature pancakes with maple syrup', 'Pancakes', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM8pO7uuqvn0yddvhxcrfCKJy55y4E6n4eJw&s', 12000),
    ('M00002', 'RES0000001', 'Freshly brewed coffee', 'Coffee', 'https://images.immediate.co.uk/production/volatile/sites/30/2020/08/flat-white-3402c4f.jpg', 5000),
    ('M00003', 'RES0000002', 'Maratang with spicy flavor', 'Maratang', 'https://hips.hearstapps.com/hmg-prod/images/delish-202210-soupdumplings-182-1665605386.jpg?crop=0.888888888888889%3Axw%3A1xh%3Bcenter,top&resize=1200%3A*', 9000),
    ('M00004', 'RES0000002', 'Rice with Mafa flavor tofu', 'Mafa TofuRice', 'https://recipe1.ezmember.co.kr/cache/recipe/2015/07/16/e90d4aa496657c666f2821977e3c721e1.jpg', 11000),
    ('M00005', 'RES0000005', 'Non-spicy Gukbap with salgogi in it', 'Salgogi Soup', 'https://cdn.econovill.com/news/photo/202105/532854_441885_1730.jpg', 15000),
    ('M00006', 'RES0000005', 'Rice with fresh Namul(Fresh vegetables)', 'Bibimbap', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq0NvEvUVhM407fQyKVWGknTvFVRF-NxIeNg&s', 13000),
    ('M00007', 'RES0000004', 'Assorted sushi platter', 'Sushi Platter', 'https://rimage.gnst.jp/livejapan.com/public/article/detail/a/00/00/a0000370/img/basic/a0000370_main.jpg', 20000),
    ('M00008', 'RES0000004', 'Salmon sashimi', 'Salmon Sashimi', 'https://flexible.img.hani.co.kr/flexible/normal/724/483/imgdb/original/2024/0807/20240807503347.jpg', 18000),
    ('M00009', 'RES0000003', 'Noodle with black bean', 'ZzazangMyoen', 'https://cdn.kormedi.com/wp-content/uploads/2021/10/r658x041.jpg', 8000),
    ('M00010', 'RES0000003', 'ZhamBong', 'ZhamBong', 'https://img-cf.kurly.com/hdims/resize/%3E720x/quality/90/src/shop/data/goodsview/20231205/gv10000784249_1.jpg', 9000),
    ('M00011', 'RES0000006', 'Handmade noodles in seafood broth', 'Seafood Noodles', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTklep3GSSJ_3iWgfpF5A_zouRQ9JOFLKiP9g&s', 12000),
    ('M00012', 'RES0000006', 'Shrimp tempura', 'Tempura', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe_ycdmc3lbJU8FZIaXwTVbiX22rfCztIJqA&s', 8000),
    ('M00013', 'RES0000007', 'Wood-fired pizza with mozzarella', 'Margherita Pizza', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPlGNZBbIL_Ymen3PLzoGLOWqHYXHhltEl_w&s', 15000),
    ('M00014', 'RES0000007', 'Classic lasagna with cheese', 'Lasagna', 'https://www.southernliving.com/thmb/iI2Pd7BIh0MFuQ79WIEtgli9Ji4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Extra_Easy_Lasagna_006_4x3-41b0a478514c43e9baed0659bd362625.jpg', 14000),
    ('M00015', 'RES0000008', 'Spicy kimchi stew', 'Kimchi Stew', 'https://cdn.oasis.co.kr:48581/product/23330/thumb/thumb_2333044df9488-d20d-4464-ab8c-7261e7c32f47.jpg', 9000),
    ('M00016', 'RES0000008', 'Stir-fried pork with vegetables', 'Pork Stir-Fry', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkU6Wo-PixejKnLpr83i5YeIumnboFvzJ5pA&s', 10000),
    ('M00017', 'RES0000009', 'Grilled mackerel with rice', 'Grilled Mackerel', 'https://dqnxrqpd4nyy9.cloudfront.net/spark/product/%EA%B3%A0%EB%93%B1%EC%96%B4%EA%B5%AC%EC%9D%B4/%EA%B3%A0%EB%93%B1%EC%96%B4%EA%B5%AC%EC%9D%B4.png', 11000),
    ('M00018', 'RES0000009', 'Korean-style pancake with seafood', 'Haemul Pajeon', 'https://static.wtable.co.kr/image/production/service/recipe/676/1ecf9cfb-b8eb-48a0-a209-976507a271f5.jpg?size=800x800', 8000),
    ('M00019', 'RES0000010', 'Handcrafted sandwiches with fresh veggies', 'Veggie Sandwich', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKeR1-T_cleg8sQZQn_GYKbZUmrm3ZSj_E1g&s', 7000),
    ('M00020', 'RES0000010', 'Freshly squeezed orange juice', 'Orange Juice', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqQcEH8436sz9RPUjbIxR_mHzSpXwLkiuSnw&s', 4000)
]
%%sql
INSERT INTO Menu VALUES
('M00001', 'RES0000001', 'Signature pancakes with maple syrup', 'Pancakes', 'menu1.png', 12000),
('M00002', 'RES0000001', 'Freshly brewed coffee', 'Coffee', 'menu1.png', 5000),
('M00003', 'RES0000002', 'Maratang with spicy flavor', 'Maratang', 'menu1.png', 9000),
('M00004', 'RES0000002', 'Rice with Mafa flavor tofu', 'Mafa TofuRice', 'menu1.png', 11000),
('M00005', 'RES0000005', 'Non-spicy Gukbap with salgogi in it', 'Salgogi Soup', 'menu1.png', 15000),
('M00006', 'RES0000005', 'Rice with fresh Namul(Fresh vegetables)', 'Bibimbap', 'menu1.png', 13000),
('M00007', 'RES0000004', 'Assorted sushi platter', 'Sushi Platter', 'menu1.png', 20000),
('M00008', 'RES0000004', 'Salmon sashimi', 'Salmon Sashimi', 'menu1.png', 18000),
('M00009', 'RES0000003', 'Noodle with black bean', 'ZzazangMyoen', 'menu1.png', 8000),
('M00010', 'RES0000003', 'ZhamBong', 'ZhamBong', 'menu1.png', 9000),
('M00011', 'RES0000006', 'Handmade noodles in seafood broth', 'Seafood Noodles', 'menu1.png', 12000),
('M00012', 'RES0000006', 'Shrimp tempura', 'Tempura', 'menu1.png', 8000),
('M00013', 'RES0000007', 'Wood-fired pizza with mozzarella', 'Margherita Pizza', 'menu1.png', 15000),
('M00014', 'RES0000007', 'Classic lasagna with cheese', 'Lasagna', 'menu1.png', 14000),
('M00015', 'RES0000008', 'Spicy kimchi stew', 'Kimchi Stew', 'menu1.png', 9000),
('M00016', 'RES0000008', 'Stir-fried pork with vegetables', 'Pork Stir-Fry', 'menu1.png', 10000),
('M00017', 'RES0000009', 'Grilled mackerel with rice', 'Grilled Mackerel', 'menu1.png', 11000),
('M00018', 'RES0000009', 'Korean-style pancake with seafood', 'Haemul Pajeon', 'menu1.png', 8000),
('M00019', 'RES0000010', 'Handcrafted sandwiches with fresh veggies', 'Veggie Sandwich', 'menu1.png', 7000),
('M00020', 'RES0000010', 'Freshly squeezed orange juice', 'Orange Juice', 'menu1.png', 4000);

%%sql
INSERT INTO DeliveryMan (dlv_id, phone, dlv_name, vehicle, dlv_address_si) VALUES
('DLV0000001', '821074927111', 'John Kim', 'Motorcycle', 'Gwangju'),
('DLV0000002', '821083123222', 'Jisun Park', 'Bicycle', 'Gwangju'),
('DLV0000003', '821003759333', 'Minsu Lee', 'Car', 'Gwangju'),
('DLV0000004', '821048634444', 'YeonWoo Kim', 'Scooter', 'Gwangju'),
('DLV0000005', '821042075555', 'GangHyeon Seo', 'Electric Scooter', 'Gwangju'),
('DLV0000006', '821093856666', 'Eunwon Seo', 'Motorcycle', 'Daejeon'),
('DLV0000007', '821098877777', 'Semin Han', 'Car', 'Daejeon'),
('DLV0000008', '821034908888', 'Soojin Ahn', 'Bicycle', 'Daejeon'),
('DLV0000009', '821087639999', 'Jin Woo', 'Motorcycle', 'Daejeon'),
('DLV0000010', '821034906000', 'Minho Jang', 'Scooter', 'Daejeon');

 * sqlite:///hw4.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
(sqlite3.OperationalError) near "%": syntax error
[SQL: %%sql
CREATE TABLE Review (
    review_id CHAR(10) PRIMARY KEY,
    rec_id CHAR(10),
    author VARCHAR(100),
    content VARCHAR(20000),
    FOREIGN KEY (rec_id) REFERENCES Receipt(rec_id));]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
import sqlite3
import json

# JSON 파일과 SQLite DB 파일 경로
json_file = "./app/reviews.json"
db_file = "hw4.db"

# SQLite 데이터베이스 연결
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

# JSON 데이터 읽기
with open(json_file, "r", encoding="utf-8") as f:
    reviews = json.load(f)

# JSON 데이터를 SQLite에 삽입
for review in reviews:
    try:
        cursor.execute("""
        INSERT INTO Review (review_id, rec_id, author, content)
        VALUES (?, ?, ?, ?)
        """, (
            review["review_id"],
            review["rec_id"],
            review["author"],
            review["review"]
        ))
    except sqlite3.IntegrityError as e:
        print(f"Skipping duplicate entry: {e}")

# 변경 사항 저장 및 연결 닫기
conn.commit()
conn.close()

print("Data successfully inserted into SQLite!")

OperationalError: no such table: Review